<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EventMapper">

    <resultMap id="eventInfo" type="event"/>
	
	
	
	 <select id="list"
		resultMap="eventInfo">
		select
		event_code, event_title, event_content,
		event_writer,event_regDate
		from event
		<if test='searchType != null &amp;&amp; searchType.equals("제목")'>
			WHERE event_title LIKE concat('%', #{keyword}, '%')
		</if>
		<if test='searchType != null &amp;&amp; searchType.equals("내용")'>
			WHERE event_content LIKE concat('%', #{keyword}, '%')
		</if>
		<if test='searchType != null &amp;&amp; searchType.equals("제목과 내용")'>
			WHERE event_title LIKE concat('%', #{keyword}, '%')
			or event_content
			LIKE concat('%', #{keyword}, '%')
		</if>
		
		limit #{start}, #{num}
	</select>

	<select id="getTotal" resultType="int">
		select count(*) from event
		<if test='searchType != null &amp;&amp; searchType.equals("제목")'>
			WHERE event_title LIKE concat('%', #{keyword}, '%')
		</if>
		<if test='searchType != null &amp;&amp; searchType.equals("내용")'>
			WHERE event_content LIKE concat('%', #{keyword}, '%')
		</if>
		<if test='searchType != null &amp;&amp; searchType.equals("제목과 내용")'>
			WHERE event_title LIKE concat('%', #{keyword}, '%')
			or event_content
			LIKE concat('%', #{keyword}, '%')
		</if>
	</select>
 	 
 	  <select id="read" resultMap="eventInfo">
	 	select * from event where event_code=#{eventCode};
 	 </select>
 	 
 	 <delete id="delete">
 	 	delete from event where event_code=#{eventCode}
 	 </delete>
 	 
 	 <insert id="insert">
 	 	insert into event(event_code,event_title,event_content,event_writer)
 	 	values(#{eventCode},#{eventTitle},#{eventContent},#{eventWriter})
 	 </insert>
 	 
 	 <update id="update">
 	 	update event set event_title=#{eventTitle}, event_content=#{eventContent}
 	 	where event_code=#{eventCode}
 	 </update>
 	 
</mapper>