<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NoticeMapper">


	<resultMap id="noticeInfo" type="notice"/>

	<select id="list" resultMap="noticeInfo">
		select * from notice
		<if test='searchType != null &amp;&amp; searchType.equals("제목")'>
			WHERE notice_title LIKE concat('%', #{keyword}, '%')
		</if>
		<if test='searchType != null &amp;&amp; searchType.equals("내용")'>
			WHERE notice_content LIKE concat('%', #{keyword}, '%')
		</if>
		<if
			test='searchType != null &amp;&amp; searchType.equals("제목과 내용")'>
			WHERE notice_title LIKE concat('%', #{keyword}, '%')
			or notice_content
			LIKE
			concat('%', #{keyword}, '%')
		</if>
		limit #{start}, #{num}
	</select>

	<insert id="insert">
		insert into notice(notice_title, notice_content, notice_writer)
		values(#{noticeTitle}, #{noticeContent}, #{noticeWriter})
	</insert>

	<select id="read" resultMap="noticeInfo">
		select * from notice
		where
		notice_code=#{noticeCode}
	</select>

	<update id="update">
		update notice set notice_title=#{noticeTitle},
		notice_content=#{noticeContent},
		notice_writer=#{noticeWriter}
		where notice_code=#{noticeCode}
	</update>

	<select id="getTotal" resultType="int">
		select count(*) from notice
		<if test='searchType != null &amp;&amp; searchType.equals("제목")'>
			WHERE notice_title LIKE concat('%', #{keyword}, '%')
		</if>
		<if test='searchType != null &amp;&amp; searchType.equals("내용")'>
			WHERE notice_content LIKE concat('%', #{keyword}, '%')
		</if>
		<if
			test='searchType != null &amp;&amp; searchType.equals("제목과 내용")'>
			WHERE notice_title LIKE concat('%', #{keyword}, '%')
			or notice_content
			LIKE
			concat('%', #{keyword}, '%')
		</if>
	</select>

	<delete id="delete">
		delete from notice where notice_code=#{noticeCode}
	</delete>

</mapper>