<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PayMapper">



	<resultMap id="payInfo" type="pay"/>



	<insert id="insert">
		insert into
		pay(product_code,pay_code,pay_price,pay_seller,pay_buyer,pay_type,pay_email)
		values(#{productCode},#{payCode},#{payprice},#{paySeller},#{payBuyer},#{payType},#{payEmail})
	</insert>

	<select id="list" resultMap="payInfo">
		select * from pay
	</select>


	<update id="updateSellerCondition">
		update pay set pay_seller_review=1 where
		pay_code=#{payCode}
	</update>

	<update id="updateBuyerCondition">
		update pay set pay_buyer_review=1 where
		pay_code=#{payCode}
	</update>

	<select id="read" resultMap="payInfo">
		select * from pay where
		pay_code=#{payCode}
	</select>



</mapper>