<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProductBoardMapper">

	<resultMap id="productBoardInfo" type="productBoard"/>

	<select id="list" resultMap="productBoardInfo">
		select
		product_code, product_title, product_content,
		product_writer, product_image, product_price, product_regDate
		product_updateDate, product_viewcnt, product_likecnt,product_name
		from product_board

		<if test='searchType != null &amp;&amp; searchType.equals("제목")'>
			WHERE product_title LIKE concat('%', #{keyword}, '%') and
			product_status=0
		</if>
		<if test='searchType != null &amp;&amp; searchType.equals("내용")'>
			WHERE product_content LIKE concat('%', #{keyword}, '%') and
			product_status=0
		</if>
		<if
			test='searchType != null &amp;&amp; searchType.equals("제목과 내용")'>
			WHERE product_title LIKE concat('%', #{keyword}, '%') and product_status=0
			or
			product_content LIKE concat('%', #{keyword}, '%') and product_status=0
		</if>
		<if test='searchType != null &amp;&amp; searchType.equals("작성자")'>
			WHERE product_writer LIKE concat('%', #{keyword}, '%') and
			product_status=0
		</if>
		<if test='searchType == null or searchType.equals("")'>
			WHERE product_status=0
		</if>

		limit #{start}, #{num}
	</select>

	<select id="getTotal" resultType="int">
		select count(*) from product_board
		<if test='searchType != null &amp;&amp; searchType.equals("제목")'>
			WHERE product_title LIKE concat('%', #{keyword}, '%') and
			product_status=0
		</if>
		<if test='searchType != null &amp;&amp; searchType.equals("내용")'>
			WHERE product_content LIKE concat('%', #{keyword}, '%') and
			product_status=0
		</if>
		<if test='searchType != null and searchType.equals("제목과 내용")'>
			WHERE product_title LIKE concat('%', #{keyword}, '%') and
			product_status=0
			or product_content
			LIKE concat('%', #{keyword}, '%') and
			product_status=0
		</if>
		<if test='searchType != null &amp;&amp; searchType.equals("작성자")'>
			WHERE product_writer LIKE concat('%', #{keyword}, '%') and
			product_status=0
		</if>
		<if test='searchType == null or searchType.equals("")'>
			WHERE product_status=0
		</if>

	</select>


	<select id="read" resultMap="productBoardInfo">
		select
		product_code, product_title, product_content,
		product_writer, product_image, product_price, product_regDate, product_viewcnt,
		product_likecnt, product_name,ROUND(user_point,2)
		user_point,product_status,user_id
		from product_board p
		inner join user u
		on
		u.user_nickname=p.product_writer
		where product_code=#{productCode}
	</select>

	<select id="readPwriterId" resultType="string">
		select
		user_id
		from product_board p
		inner join user u
		on u.user_nickname=p.product_writer
		where product_code=#{productCode}
	</select>


	<insert id="insert">
		insert into product_board
		(product_title,product_content,product_writer,product_image,product_price,product_name)
		values
		(#{productTitle},#{productContent},#{productWriter},#{productImage},#{productPrice},#{productName})
	</insert>

	<delete id="delete">
		delete from product_board where product_code=#{productCode}
	</delete>

	<select id="readPwriter" resultType="string">
		select product_writer from
		product_board where product_code=#{productCode}
	</select>

	<select id="readPcondition" resultType="int">
		select product_status from
		product_board where product_code=#{productCode}
	</select>

	<update id="update">
		update product_board set product_title=#{productTitle},
		product_content=#{productContent}, product_image=#{productImage}, product_price=#{productPrice},
		product_name=#{productName}
		where
		product_code=#{productCode}
	</update>

	<update id="updateViewcnt">
		update product_board
		set product_viewcnt=product_viewcnt+1
		where
		product_code=#{productCode}
	</update>

	<select id="best" resultType="com.example.dto.ProductBoardDto">
		select * from product_board
		order by
		product_likecnt desc
		limit 0,16;
	</select>

	<update id="updateLove">
		update product_board p set product_likecnt=
		(select count(*) from
		product_board_like l
		where like_status=1 and p.product_code=l.product_code)
	</update>

	<update id="updateSold">
		update product_board set product_status=1
		where
		product_code=#{productCode}
	</update>


</mapper>