<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProductBoardLikeMapper">


	<resultMap id="productBoardLikeInfo" type="productBoardLike"/>


	<update id="like">
		insert into
		product_board_like(product_code,user_nickname,like_status,like_code)
		values(#{productCode},#{userNickname},true,#{likeCode})
		ON DUPLICATE KEY UPDATE
		like_status = true;
	</update>

	<update id="dislike">
		update product_board_like
		set like_status=false
		where
		product_code=#{productCode} and user_nickname=#{userNickname}
	</update>

	<select id="likeCount"
		resultMap="productBoardLikeInfo">
		select like_status from product_board_like
		where
		product_code=#{productCode} and
		user_nickname=#{userNickname}
	</select>

</mapper>