<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ReviewMapper">


	<resultMap id="reviewInfo" type="review"/>


		<select id="list" resultMap="reviewInfo">
			select * from review
			where
			review_receiver=#{review_receiver}
			order by review_regDate
			limit #{start},#{num}

		</select>

		<select id="read" resultMap="reviewInfo">
			select * from review where
			review_receiver=#{review_receiver}
		</select>

		<insert id="insert">
			insert into
			review(review_code,review_content,review_sender,review_receiver,pay_code,review_point)
			values(#{reviewCode},#{reviewContent},#{reviewSender},#{review_receiver},#{payCode},#{reviewPoint})
		</insert>

		<select id="total" resultType="int">
			select count(*) from review
			where review_receiver=#{review_receiver};
		</select>




</mapper>