<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TransactionMapper">

 <resultMap id="transactionInfo" type="pay"/>

	
	
	<select id="buyList" resultMap="transactionInfo">
		select pay_price, pay_buyer,pay_seller,pay_code,product_code,pay_buyer_reviewed, pay_regDate from
		pay where pay_buyer=#{payBuyer}
		order by pay_regDate
		limit #{start}, 6
	</select>
	<select id="sellList" resultMap="transactionInfo">
		select pay_price, pay_buyer,pay_seller,pay_code,product_code, pay_regDate,pay_seller_reviewed from
		pay where pay_seller=#{paySeller}
		order by pay_regDate
		limit #{start}, 6
	</select>

	<select id="buyTotal" resultType="int">
		select count(*) from pay where pay_buyer=#{payBuyer}
	</select>

	<select id="sellTotal" resultType="int">
		select count(*) from pay where pay_seller=#{paySeller}
	</select>

	<select id="sellchart" resultMap="transactionInfo">
		select
		month(tempMonth.temp_month) month,
		 ifnull(sum(p.pay_price),0) payPrice
       
	from
		temp_month tempMonth
			left join 
            	pay p 
                on (month(p.pay_regDate) = month(tempMonth.temp_month) and p.pay_seller=#{paySeller})
    		group by 
            	temp_month;
	</select>
	
	<select id="buychart" resultMap="transactionInfo">
		select
		month(tempMonth.temp_month) month,
		 ifnull(sum(p.pay_price),0) payPrice
       
	from
		temp_month tempMonth
			left join 
            	pay p 
                on (month(p.pay_regDate) = month(tempMonth.temp_month) and p.pay_buyer=#{payBuyer})
    		group by 
            	temp_month;
	</select>
	
</mapper>